# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=shrtik
DB_PASSWORD=shrtik
DB_NAME=shrtik

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=your-super-secret-key-change-in-prod
JWT_TTL=24h

# Server
SERVER_PORT=8080